body{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
text-align:center;
}

.container{
max-width:700px;
margin:auto;
padding:20px;
}

h1{
color:#ffd700;
}

.card{
background:#1b1b1b;
padding:20px;
margin-top:20px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,0.5);
}

input{
width:90%;
padding:12px;
margin-top:10px;
border:none;
border-radius:8px;
}

button{
padding:12px;
margin:6px;
border:none;
border-radius:8px;
background:#ffd700;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#ffcc00;
}

.stakeButtons{
margin-top:10px;
}

#stakeList{
text-align:left;
margin-top:10px;
}

.stakeBox{
background:#222;
padding:12px;
border-radius:8px;
margin-top:8px;
}

@media(max-width:600px){

button{
width:100%;
}

input{
width:100%;
}

}
